.selector-for-some-widget {
    box-sizing: content-box;
  }
  
  a{
    text-decoration: none;
    user-select: none;
    color: black;
  }

  .contentForm{
      margin-top: 2%;
      padding: 1%;
      border: gray solid 1px;
      border-radius: 10px;
  }
  .bg-th{
      background-color: #777;
  }

  .negrita{
      font-weight: bold;
  }